[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
uvicorn = "*"
fastapi = "*"
ujson = "*"
email_validator = "*"
python-decouple = "*"
requests = "*"

[requires]
python_version = "3.8"
